@model IEnumerable<mvcMobileStore.Models.Phone>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
    <h3>Смартфоны</h3>
    <table>
        <tr>
            <td>Модель</td>
            <td></td>
            <td>Производитель</td>
            <td> </td>
            <td>Цена</td>
            <td> </td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td> </td>
                <td>@phone.Company</td>
                <td> </td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>